$themePrimaryColor: #ff3723;
$themeFontColor: #ffffff;
$themeFontColorSecondary: #222222;
$themePrimaryBackgroundColor: #2e2e35;
$themeSecondaryBackgroundColor: #34343b;
$themeBackgroundDarkColor: #020202;

$commonBorderRadius: 5px;
