.home-hero {
  color: #fff;
  background-color: #020202;
  background-position: -440px 190px;
  height: 100vh;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-image: url(../assets/jpeg/hero.jpg);

  @include respond(phone) {
    padding-top: 10rem;
  }

  &__tools {
    margin-top: 10rem;
    display: flex;

    > div {
      > img {
        height: 8rem;
      }
    }
  }

  &__image {
    position: absolute;
    bottom: 10%;
    left: 15%;

    @include respond(phone) {
      position: relative;
      padding-top: 9rem;
      left: 0;
      text-align: center;
    }

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include respond(phone) {
        width: 300px;
        height: 300px;
        position: absolute;
      }
    }
  }

  &__socials {
    position: absolute;
    top: 50%;
    border: 2px solid #eee;
    transform: translateY(-50%);
    @include respond(tab-port) {
      display: none;
    }
  }
  &__mouse-scroll-cont {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);

    @include respond(phone) {
      display: none;
    }
  }

  &__social {
    width: 5rem;
  }

  &__social-icon-link {
    width: 100%;
    display: block;
    padding: 1.2rem;
    border-bottom: 2px solid #eee;
    transition: background .3s;

    &:hover {
      background: rgba(#fff,.1);
    }

    &--bd-none {
      border-bottom: 0;
    }
  }

  &__social-icon {
    width: 100%;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 66%;
    transform: translate(-50%, -50%);
    max-width: 660px;
    padding-left: 70px;

    @include respond(phone) {
      padding: 10rem 2rem 5rem 2rem;
      margin: auto;
      position: static;
      text-align: center;
      transform: translate(0, 0);
    }
  }

  &__info {
    margin: 3rem auto 0 auto;
    max-width: 80rem;
  }
  &__cta {
    margin-top: 5rem;
  }
}

.about {
  background: $themeSecondaryBackgroundColor;

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
    @include respond(tab-port) {
      grid-template-columns: 1fr;
      grid-gap: 8rem;
    }
    &-title {
      color: $themeFontColor;
      font-weight: 600;
      font-size: 2.8rem;
      margin-bottom: 3rem;
      @include respond(phone) {
        font-size: 2.4rem;
      }
    }
    &-details-para {
      font-size: 1.8rem;
      color: $themeFontColor;
      max-width: 60rem;
      line-height: 1.7;
      margin-bottom: 1rem;
      &--hl {
        font-weight: 600;
        margin: 0 3px;
      }
      &:last-child {
        margin-bottom: 4rem;
      }
    }
  }
}

.skills {
  background: $themeBackgroundDarkColor;

  &__row {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 5rem;
    margin-bottom: 11rem;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      margin-bottom: 8rem;
    }

    @include respond(tab-port) {
      text-align: center;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-img-cont {
      overflow: hidden;
    }
    &-img {
      width: 100%;
      display: block;
      object-fit: cover;
    }
    &-content {
      padding: 2rem 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;

      @include respond(tab-port) {
        align-items: center;
      }

      &-title {
        font-weight: 600;
        font-size: 2.8rem;
        margin-bottom: 2rem;
        @include respond(phone) {
          font-size: 2.4rem;
        }
      }
      &-desc {
        font-size: 1.8rem;
        color: grey;
        max-width: 60rem;
        line-height: 1.7;
        margin-bottom: 3rem;
        @include respond(phone) {
          font-size: 1.7rem;
        }
      }
    }
  }
}

.contact {
  background: $themeSecondaryBackgroundColor;

  &__btn {
    width: 30%;

    padding: 2rem 4rem;
    font-size: 1.6rem;
    @include respond(phone) {
      width: 100%;
    }
  }
}
