*,
:after,
:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: inherit;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
@media only screen and (width<=75em) {
  html {
    font-size: 59%;
  }
}
@media only screen and (width<=56.25em) {
  html {
    font-size: 56%;
  }
}
@media only screen and (width>=112.5em) {
  html {
    font-size: 65%;
  }
}
body {
  box-sizing: border-box;
  font-family: Source Sans Pro, sans-serif;
  line-height: 1.5;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
input:focus,
button:focus,
a:focus,
textarea:focus {
  outline: none;
}
button {
  cursor: pointer;
  border: none;
}
textarea {
  resize: none;
}
.heading-primary {
  letter-spacing: 3px;
  text-align: center;
  font-size: 5rem;
}
.fd {
  text-transform: uppercase;
  font-size: 7rem;
}

@media only screen and (width<=37.5em) {
  .heading-primary {
    font-size: 4rem;
  }
  .fd {
    text-transform: uppercase;
    font-size: 4.5rem;
  }
}
.heading-sec__mb-bg {
  margin-bottom: 11rem;
}
@media only screen and (width<=56.25em) {
  .heading-sec__mb-bg {
    margin-bottom: 8rem;
  }
}
.heading-sec__mb-med {
  margin-bottom: 9rem;
}
@media only screen and (width<=56.25em) {
  .heading-sec__mb-med {
    margin-bottom: 8rem;
  }
}
.heading-sec__main {
  text-transform: uppercase;
  letter-spacing: 1px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 3.5rem;
  font-size: 4rem;
  display: block;
  position: relative;
}
.heading-sec__main--lt {
  color: #fff;
}
.heading-sec__main--lt:after {
  content: "";
  background: #fff !important;
}
.heading-sec__main:after {
  content: "";
  height: 5px;
  width: 3rem;
  background: #6a3ac9;
  border-radius: 5px;
  position: absolute;
  top: calc(100% + 1.5rem);
  left: 50%;
  transform: translate(-50%);
}
@media only screen and (width<=37.5em) {
  .heading-sec__main:after {
    top: calc(100% + 1.2rem);
  }
}
.heading-sec__sub {
  text-align: center;
  color: #777;
  max-width: 80rem;
  margin: auto;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.6;
  display: block;
}
@media only screen and (width<=37.5em) {
  .heading-sec__sub {
    font-size: 1.8rem;
  }
}
.heading-sec__sub--lt {
  color: #eee;
}
.heading-sm {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.2rem;
}
.illustration {
  width: 100%;
}
.main-container {
  max-width: 120rem;
  width: 92%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #fff;
  border-radius: 5px;
  font-weight: 700;
  transition: transform 0.3s;
  display: inline-block;
  box-shadow: 0 5px 15px #00000026;
}
.btn:hover {
  transform: translateY(-3px);
}
.btn--bg {
  padding: 1.5rem 8rem;
  font-size: 2rem;
}
.btn--med {
  padding: 1.5rem 5rem;
  font-size: 1.6rem;
}
.btn--theme {
  color: #fff;
  background: #6a3ac9;
}
.btn--theme-inv {
  color: #6a3ac9;
  box-shadow: none;
  background: #fff;
  border: 2px solid #6a3ac9;
  padding: calc(1.5rem - 2px) calc(5rem - 2px);
}
.sec-pad {
  padding: 12rem 0;
}
@media only screen and (width<=56.25em) {
  .sec-pad {
    padding: 8rem 0;
  }
}
.text-primary {
  color: #fff;
  text-align: center;
  width: 100%;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 1.6;
}
@media only screen and (width<=37.5em) {
  .text-primary {
    font-size: 2rem;
    font-weight: 300;
  }
}
.d-none {
  display: none;
}
.home-hero {
  color: #fff;
  height: 100vh;
  min-height: 80rem;
  max-height: 120rem;
  background-color: #0000;
  background-image: linear-gradient(90deg, #4f279fcc, #3f1b85cc),
    url(../img/common-bg.70a61d43.svg);
  background-position: 50%;
  background-repeat: repeat, repeat;
  background-size: auto, auto;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  position: relative;
}
@media only screen and (width<=37.5em) {
  .home-hero {
    height: unset;
    min-height: unset;
  }
}
.home-hero__socials {
  /* border: 2px solid #eee; */
  background: #805cce;
  position: absolute;
  box-shadow: 0px 1px 12px 4px #6b42c6;
  top: 50%;
  transform: translateY(-50%);
}
@media only screen and (width<=56.25em) {
  .home-hero__socials {
    display: none;
  }
}
.home-hero__mouse-scroll-cont {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%);
}
@media only screen and (width<=37.5em) {
  .home-hero__mouse-scroll-cont {
    display: none;
  }
}
.home-hero__social {
  width: 5rem;
}
.home-hero__social-icon-link {
  width: 100%;
  /* border-bottom: 2px solid #eee; */
  padding: 1.2rem;
  transition: background 0.3s;
  display: block;
}
.home-hero__social-icon-link:hover {
  background: #ffffff1a;
}
.home-hero__social-icon-link--bd-none {
  border-bottom: 0;
}
.home-hero__social-icon {
  width: 100%;
}
.home-hero__content {
  max-width: 90rem;
  width: 92%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (width<=37.5em) {
  .home-hero__content {
    margin: auto;
    padding: 19rem 0 13rem;
    position: static;
    transform: translate(0);
  }
}
.home-hero__info {
  max-width: 80rem;
  margin: 3rem auto 0;
}
.home-hero__cta {
  text-align: center;
  margin-top: 5rem;
}
.about {
  background: #fff;
}
.about__content {
  grid-gap: 10rem;
  grid-template-columns: 1fr 1fr;
  display: grid;
}
@media only screen and (width<=56.25em) {
  .about__content {
    grid-gap: 8rem;
    grid-template-columns: 1fr;
  }
}
.about__content-title {
  margin-bottom: 3rem;
  font-size: 2.8rem;
  font-weight: 700;
}
@media only screen and (width<=37.5em) {
  .about__content-title {
    font-size: 2.4rem;
  }
}
.about__content-details-para {
  color: gray;
  max-width: 60rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  line-height: 1.7;
}
.about__content-details-para--hl {
  margin: 0 3px;
  font-weight: 700;
}
.about__content-details-para:last-child {
  margin-bottom: 4rem;
}
.projects__row {
  grid-gap: 5rem;
  grid-template-columns: 1.5fr 1fr;
  margin-bottom: 11rem;
  display: grid;
}
@media only screen and (width<=56.25em) {
  .projects__row {
    grid-gap: 2rem;
    text-align: center;
    grid-template-columns: 1fr;
    margin-bottom: 8rem;
  }
}
.projects__row:last-child {
  margin-bottom: 0;
}
.projects__row-img-cont {
  overflow: hidden;
}
.projects__row-img {
  width: 100%;
  object-fit: cover;
  display: block;
}
.projects__row-content {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 0;
  display: flex;
}
@media only screen and (width<=56.25em) {
  .projects__row-content {
    align-items: center;
  }
}
.projects__row-content-title {
  margin-bottom: 2rem;
  font-size: 2.8rem;
  font-weight: 700;
}
@media only screen and (width<=37.5em) {
  .projects__row-content-title {
    font-size: 2.4rem;
  }
}
.projects__row-content-desc {
  color: gray;
  max-width: 60rem;
  margin-bottom: 3rem;
  font-size: 1.8rem;
  line-height: 1.7;
}
@media only screen and (width<=37.5em) {
  .projects__row-content-desc {
    font-size: 1.7rem;
  }
}
.contact {
  background-color: #0000;
  background-image: linear-gradient(90deg, #4a2298cc, #3f1b85cc),
    url(../img/common-bg.70a61d43.svg);
  background-position: 50%;
  background-repeat: repeat, repeat;
  background-size: cover;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
}
.contact__form-container {
  max-width: 80rem;
  text-align: right;
  width: 95%;
  background: #fff;
  border-radius: 5px;
  margin: 5rem auto 0;
  padding: 4rem;
  box-shadow: 0 0 10px #0000001a;
}
@media only screen and (width<=37.5em) {
  .contact__form-container {
    padding: 3rem;
  }
}
.contact__form-field {
  margin-bottom: 4rem;
}
@media only screen and (width<=37.5em) {
  .contact__form-field {
    margin-bottom: 3rem;
  }
}
.contact__form-label {
  color: #666;
  letter-spacing: 1px;
  text-align: left;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  display: block;
}
.contact__form-input {
  color: #333;
  width: 100%;
  letter-spacing: 0;
  background: #f0f0f0;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
}
.contact__form-input::placeholder {
  color: #999;
  font-size: 1.6rem;
  font-weight: 600;
}
.contact__form-input:-ms-input-placeholder {
  color: #999;
  font-size: 1.6rem;
  font-weight: 600;
}
.contact__form-input::-moz-placeholder {
  color: #999;
  font-size: 1.6rem;
  font-weight: 600;
}
.contact__form-input:-moz-placeholder {
  opacity: 1;
  color: #999;
  font-size: 1.6rem;
  font-weight: 600;
}
.contact__form-input::-moz-placeholder {
  opacity: 1;
  color: #999;
  font-size: 1.6rem;
  font-weight: 600;
}
.contact__btn {
  width: 30%;
  padding: 2rem 4rem;
  font-size: 1.6rem;
}
@media only screen and (width<=37.5em) {
  .contact__btn {
    width: 100%;
  }
}
.project-cs-hero {
  color: #fff;
  background-color: #0000;
  background-image: linear-gradient(90deg, #6a3ac9cc, #6a3ac9cc),
    url(../img/common-bg.70a61d43.svg);
  background-position: 50%;
  background-repeat: repeat, repeat;
  background-size: cover;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  position: relative;
}
@media only screen and (width<=37.5em) {
  .project-cs-hero {
    height: unset;
    min-height: unset;
  }
}
.project-cs-hero__content {
  max-width: 90rem;
  width: 92%;
  margin: auto;
  padding: 25rem 0 17rem;
}
@media only screen and (width<=37.5em) {
  .project-cs-hero__content {
    margin: auto;
    padding: 19rem 0 13rem;
    position: static;
    transform: translate(0);
  }
}
.project-cs-hero__info {
  max-width: 80rem;
  margin: 3rem auto 0;
}
.project-cs-hero__cta {
  text-align: center;
  margin-top: 5rem;
}
.project-details__content {
  max-width: 90rem;
  margin: auto;
  padding: 8rem 0;
}
.project-details__content-title {
  margin-bottom: 3rem;
  font-size: 2.8rem;
  font-weight: 700;
}
@media only screen and (width<=37.5em) {
  .project-details__content-title {
    font-size: 2.4rem;
  }
}
.project-details__showcase-img-cont {
  width: 100%;
  margin-bottom: 6rem;
}
.project-details__showcase-img {
  width: 100%;
}
.project-details__content-main {
  width: 100%;
  max-width: 70rem;
  margin: auto;
}
.project-details__desc {
  margin: 0 0 7rem;
}
.project-details__desc-para {
  color: gray;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  line-height: 1.7;
}
.project-details__tools-used {
  margin: 0 0 7rem;
}
.project-details__tools-used-list {
  flex-wrap: wrap;
  display: flex;
}
.project-details__tools-used-item {
  color: #777;
  background: #9993;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
}
.project-details__links {
  margin: 0;
}
.project-details__links-btn {
  margin-right: 2rem;
}
@media only screen and (width<=37.5em) {
  .project-details__links-btn {
    width: 70%;
    text-align: center;
    margin-bottom: 2rem;
    margin-right: 0;
  }
}
.project-details__links-btn:last-child {
  margin: 0;
}
@media only screen and (width<=37.5em) {
  .project-details__links-btn:last-child {
    margin: 0;
  }
}
.header {
  width: 100%;
  z-index: 1000;
  background: #fff;
  position: fixed;
  box-shadow: 0 10px 100px #0000001a;
}
.header__content {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  display: flex;
}
@media only screen and (width<=56.25em) {
  .header__content {
    padding: 0 2rem;
  }
}
.header__logo-container {
  cursor: pointer;
  color: #333;
  align-items: center;
  transition: color 0.3s;
  display: flex;
}
.header__logo-container:hover {
  color: #6a3ac9;
}
.header__logo-img-cont {
  width: 5rem;
  height: 5rem;
  background: #6a3ac9;
  border-radius: 50px;
  margin-right: 1.5rem;
  overflow: hidden;
}
@media only screen and (width<=56.25em) {
  .header__logo-img-cont {
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 1.2rem;
  }
}
.header__logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.header__logo-sub {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.8rem;
  font-weight: 700;
}
.header__links {
  display: flex;
}
@media only screen and (width<=37.5em) {
  .header__links {
    display: none;
  }
}
.header__link {
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 2.2rem 3rem;
  font-size: 1.6rem;
  font-weight: 700;
  transition: color 0.3s;
  display: inline-block;
}
.header__link:hover {
  color: #6a3ac9;
}
@media only screen and (width<=56.25em) {
  .header__link {
    padding: 3rem 1.8rem;
    font-size: 1.5rem;
  }
}
.header__main-ham-menu-cont {
  width: 3rem;
  padding: 2.2rem 0;
  display: none;
}
@media only screen and (width<=37.5em) {
  .header__main-ham-menu-cont {
    display: block;
  }
}
.header__main-ham-menu,
.header__main-ham-menu-close {
  width: 100%;
}
.header__sm-menu {
  width: 100%;
  visibility: hidden;
  opacity: 0;
  background: #fff;
  transition: all 0.3s;
  position: absolute;
  top: 100%;
  box-shadow: 0 5px 5px #0000001a;
}
.header__sm-menu--active {
  visibility: hidden;
  opacity: 0;
}
@media only screen and (width<=37.5em) {
  .header__sm-menu--active {
    visibility: visible;
    opacity: 1;
  }
}
.header__sm-menu-link a {
  color: #333;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid #eee;
  padding: 2.5rem 3rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s;
  display: block;
}
.header__sm-menu-link a:hover {
  color: #6a3ac9;
}
.header__sm-menu-link:first-child a {
  border-top: 1px solid #eee;
}
.header__sm-menu-link-last {
  border-bottom: 0;
}
.main-footer {
  color: #fff;
  background: #000;
}
.main-footer__upper {
  justify-content: space-between;
  padding: 8rem 0;
  display: flex;
}
@media only screen and (width<=56.25em) {
  .main-footer__upper {
    padding: 6rem 0;
  }
}
@media only screen and (width<=37.5em) {
  .main-footer__upper {
    display: block;
  }
}
.main-footer__row-1 {
  order: 2;
}
@media only screen and (width<=56.25em) {
  .main-footer__row-1 {
    margin-bottom: 5rem;
  }
}
.main-footer__row-2 {
  width: 40%;
  max-width: 50rem;
  order: 1;
}
@media only screen and (width<=56.25em) {
  .main-footer__row-2 {
    width: 100%;
  }
}
.main-footer__short-desc {
  color: #eee;
  margin-top: 2rem;
  font-size: 1.5rem;
  line-height: 1.7;
}
.main-footer__social-cont {
  margin-top: 2rem;
}
italic {
  font-style: italic;
  font-weight: 100;
  color: #000;
}
.main-footer__icon {
  width: 2.5rem;
  margin-right: 1rem;
}
.main-footer__icon--mr-none {
  margin-right: 0;
}
.main-footer__lower {
  color: #eee;
  text-align: left;
  text-align: center;
  border-top: 1px solid #444;
  padding: 4rem 0;
  font-size: 1.2rem;
}
.main-footer__lower a {
  margin-left: 2px;
  font-weight: 700;
  text-decoration: underline;
}
@media only screen and (width<=56.25em) {
  .main-footer__lower {
    padding: 3.5rem 0;
  }
}
.skills {
  flex-wrap: wrap;
  display: flex;
}
.skills__skill {
  color: #777;
  background: #9993;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
}
.mouse {
  width: 25px;
  height: 40px;
  border: 2px solid #eee;
  border-radius: 60px;
  position: relative;
  overflow: hidden;
}
.mouse:before {
  content: "";
  width: 5px;
  height: 5px;
  opacity: 1;
  background-color: #eee;
  border-radius: 50%;
  animation: 1.3s infinite wheel;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translate(-50%);
}
@keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}
/*# sourceMappingURL=index.af110bb6.css.map */

 